.cards{
    height: 150px;
    padding: 20px;
    margin: 50px;
   
}

.container-d {
    width: 80%;
    border:1px solid black;
    margin-left: 150px;
    background-color: antiquewhite;
}

.cards p{

}

.cards h1{
    background-color: #db6826;
    color: white;
    
   
}