body{
    padding: 0;
    margin: 0;
}

.container-nav{
    height:75px 

}


.login , .signup ,.logout,.button-cita{
    background-color: #f1890c;
    width: 120px;
    height: 50px;
    margin-bottom: 20px;
}
.logout{
    background-color: antiquewhite;
}
 .item-nav{
    display: flex;
    justify-content: space-around;
}

img{
    margin-top:-20px;
    padding: 0;
    width: 300px;

}

.container-nav h3{
    color:#1b1916;
    margin-bottom:20px;
    margin-top:-20px;
    padding: 0;
}

.nav-style h1{
    padding-top:10px;
}
