.container-cita{
   
  width: 80%;
  max-width: 600px;
  margin: auto;
  background-color: #f1ede7;
  height: 450px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

  
  
}
.prim{
  margin-top:50px;
  padding-top:50px;
}
.prim input{
  width: 50%;
  margin: 10px;
  
}
.prim p{
  font-size: 80%;
  
}

.segund{
  margin-top:50px;
}

.button-cita{
  margin-top:25px;
  background-color: #f1890c;
  width: 100px;
  height: 40px;
  margin-bottom: 20px;
  font-size: 75%;
}
  


 .ok{
  background-color: rgb(159, 240, 159);
  padding-top:200px;
}

